## These values ​​are the default for the postgres docker-compose
# container at the root of the repository.
##
DB_USER=neoway
DB_PASS=q1w2e3r4
# Use neoway_db has a DB_HOST when run with docker
DB_HOST=neoway_db
DB_PORT=5432
DB_NAME=db
SERVER_PORT=4444